<!DOCTYPE html>
<html lang="en" data-theme="light">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Login Error</title>
		<link rel="stylesheet" href="/static/css/main.css">
		<script defer src="/static/js/theme.js"></script>
		<script defer src="/static/js/login.js"></script>
	</head>
	<body>
		<div class ="dark-light">
			<button type="button" id="theme-toggle">
				Light mode
			</button>
    	</div>

		<div class="card">
			<h1>Unable to sign in</h1>
			<p class="subtitle">
				Incorrect email and/or password.
			</p>

			<p class="hint">
				If you believe this is incorrect, you can try logging in again, reset your password, or create a new account.
			</p>
			<div>
				<span id="lockout-timer" data-ttl="{{time-remaining}}">
					{{time-remaining}}
				</span>
				<span>
					Seconds Remaining
				</span>
			</div>
			<div style="margin-top: 1.25rem;">
				<button
					type="button"
					style="width: 100%; border-radius: 999px;"
					onclick="window.location.href='/login'">
					Try to log in again
				</button>
			</div>

			<div class="button-row" style="margin-top: 0.85rem;">
				<button type="button" onclick="window.location.href='/auth/forgot-password'">
					Forgot Password
				</button>
				<button type="button" onclick="window.location.href='/auth/register'">
					Register
				</button>
			</div>
		</div>
	</body>
</html>
